.default {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 28px);
  line-height: 130%;
  font-weight: 600;
}
.default-chip {
  right: 275px;
  bottom: 33px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkolivegreen);
  width: 88px;
  height: 40px;
  overflow: hidden;
  color: var(--color-white);
}
.a-z,
.a-z-chip,
.default-chip {
  position: absolute;
}
.a-z {
  top: calc(50% - 10.5px);
  left: calc(50% - 15px);
  line-height: 130%;
  font-weight: 600;
}
.a-z-chip {
  right: 205px;
  bottom: 33px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 62px;
  height: 40px;
  overflow: hidden;
}
.list-view {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 34.5px);
  line-height: 130%;
  font-weight: 600;
}
.list-chip {
  position: absolute;
  right: 96px;
  bottom: 33px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  width: 101px;
  height: 40px;
  overflow: hidden;
}
.fresh {
  font-weight: 500;
}
.august-21-2023 {
  font-weight: 300;
  white-space: pre-wrap;
}
.fresh-august-container,
.produce {
  position: absolute;
  bottom: 33px;
  left: 347px;
  font-size: var(--font-size-xl);
  line-height: 130%;
  text-align: left;
}
.produce {
  bottom: 16px;
  left: 96px;
  font-size: var(--font-size-45xl);
  letter-spacing: -0.02em;
  line-height: 120%;
  font-family: var(--font-newsreader);
}
.divider1 {
  position: absolute;
  width: calc(100% - 190px);
  right: 95px;
  bottom: -1px;
  left: 95px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-top: 2px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 2px;
}
.page-heading1 {
  position: absolute;
  width: 100%;
  top: 112px;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  height: 149px;
  overflow: hidden;
}
.world-peas2 {
  position: absolute;
  top: 41px;
  left: 96px;
  font-size: var(--font-size-13xl);
  letter-spacing: -0.01em;
  line-height: 100%;
  font-weight: 500;
  font-family: var(--font-newsreader);
  color: var(--color-darkolivegreen);
  text-align: left;
}
.newstand2,
.shop2 {
  position: absolute;
  top: 45.5px;
  right: 657px;
  line-height: 130%;
}
.newstand2 {
  right: 532px;
}
.who-we-are2 {
  top: 45.5px;
  right: 394px;
}
.basket-32,
.my-profile2,
.who-we-are2 {
  position: absolute;
  line-height: 130%;
}
.my-profile2 {
  top: 45.5px;
  right: 270px;
}
.basket-32 {
  top: calc(50% - 10.5px);
  left: calc(50% - 40px);
  font-weight: 600;
}
.cart-button2,
.navigation1 {
  position: absolute;
  overflow: hidden;
}
.cart-button2 {
  top: 32px;
  right: 96px;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkolivegreen);
  width: 126px;
  height: 48px;
  color: var(--color-white);
}
.navigation1 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 112px;
}
.heirloom-tomato1 {
  bottom: 98px;
  line-height: 130%;
  font-weight: 600;
}
.grown-in-san,
.heirloom-tomato1,
.lb6 {
  position: absolute;
  left: 24px;
}
.lb6 {
  bottom: 68px;
  line-height: 130%;
  font-weight: 600;
  color: var(--color-darkolivegreen);
}
.grown-in-san {
  bottom: 28px;
  font-size: var(--font-size-base);
  line-height: 150%;
  color: var(--color-dimgray);
}
.ed-o-neil-avvdzlhdowa-unsplash-icon1 {
  position: absolute;
  height: calc(100% - 148px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 148px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ginger1,
.tomato1 {
  position: absolute;
  width: calc(100% - 1045px);
  top: 301px;
  right: 949px;
  left: 96px;
  border-radius: var(--br-5xl);
  background-color: var(--color-whitesmoke);
  border: 2px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 444px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
}
.ginger1 {
  right: 522px;
  left: 523px;
}
.product-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--black);
  font-family: var(--font-inter);
}
